@import url("https://fonts.googleapis.com/css2?family=Muli&family=Rokkitt:wght@700&display=swap");

@import "tailwindcss/base";

@import "tailwindcss/components";

body {
  @apply bg-lila font-muli antialiased;
}

@screen xl {
  body {
    @apply bg-powder;
  }
  .container-left {
    max-width: 608px;
  }
}

.indicator-container {
  @apply fixed top-0;
  left: -70px;
}

.indicator-container:hover {
  cursor: pointer;
}

.server-label {
  transition: all 0.5s ease;
}

.server-label:hover {
  transform: translateX(70px);
}

.container-base {
  @apply bg-white;
  height: auto;
  max-height: 608px;
}

.container-form {
  height: 320px;
}

.container-right {
  @apply bg-lila rounded-r-lg;
  max-width: 449px;
}

.input {
  @apply shadow appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.input:focus {
  @apply outline-none shadow-outline;
}

.btn {
  @apply bg-blue-600 text-white py-2 px-4 rounded;
}

.btn:hover {
  @apply bg-blue-700;
}

.btn:focus {
  @apply outline-none shadow-outline;
}

.btn-wide {
  width: 47%;
  height: 55px;
}

.link {
  @apply text-link;
}
.link:hover {
  @apply cursor-pointer text-linkHover underline;
}

.leading-min {
  line-height: 0.8;
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

@import "tailwindcss/utilities";
